.guess-content .guess-title {
    text-align: center;
    padding:15px 0;
    line-height: 20px;
}

.guess-content .guess-title span {
    font-size: 18px;
    line-height: 20px;
    color: #979797;
    position: relative;
}

.guess-content .guess-title span img {
    height:18px;
    position: relative;
    top:2px;
    margin-right: 5px;
}

.guess-content .guess-title span:before,
.guess-content .guess-title span:after  {
    content:'';
    position: absolute;
    width: 30px;
    height:1px;
    top:12px;
    background: #979797;
}
.guess-content .guess-title span:before {
    left: -38px;
}
.guess-content .guess-title span:after {
    right:-38px;
}