<div id="login-page">
    <div class="login-header">
        <a href="#!/"><img src="https://img.alicdn.com/imgextra/i4/2074305857/TB2fFxGbHtlpuFjSspoXXbcDpXa-2074305857.gif" alt="" /></a>
    </div>
    <div class="login-body" style="background: url(images/loginPic.jpg)">
        <div class="login-panel">
            <form name="loginForm" novalidate>
                <label><h4>快速注册</h4></label>
                <div class="input-group">
                    <input name="username" placeholder="用户名/邮箱" required>
                </div>
                <div class="input-group">
                    <input name="password" type="password" placeholder="请输入密码" required>
                </div>
                <div class="input-group">
                    <input name="password" type="password" placeholder="确认您的密码" required>
                </div>                
                <div class="input-group no-padiing">
                    <input type="button" ng-click="submit(loginForm)" value="注册" ng-disabled="loginForm.$invalid" />
                </div>
                <p class="register-and-forgoten">
                    <span><input type="checkbox"> 自动登录</span>
                    <a ui-sref="login">已有账号？马上登录</a>
                </p>
            </form>
            <div class="bd bd-l"></div>
            <div class="bd bd-r"></div>
        </div>
    </div>
    <div class="login-footer">
        <p>Copyright © 2016-2020 上海xxxx有限公司 bmw2.cn 保留一切权利。客服邮箱：master@chengkai.wang</p>
        <p> 京ICP证111033号</p>
    </div>
</div>