<div search-bar placeholder="2017新年年货大全"></div>
<div nav-with-logo="navBarList"></div>
<div class="bg">
    <div class="brand-showcase">
        <a class="brand-logo-box" ng-href="item.url" target="_blank" ng-repeat="item in showcaseItems[brandLogoPage] track by $index">
            <img ng-src="{{ item.img }}" alt=""/>
            <span>{{ item.title }}</span>
        </a>
    </div> 
    <div class="brand-banners-wrapper">
        <div class="brand-banners">
            <div class="brand-banner-box-wrapper" ng-repeat="banner in brandBanners track by $index">
                <a ng-href="{{ banner.link }}" target="_blank" class="brand-banner-box">
                    <div class="brand-banner-box-main">
                        <img ng-src="{{ banner.banner }}" />
                        <div>
                            <span class="desc"> {{ banner.desc }} </span>
                            <span class="time-left">{{ banner.time }}</span>
                        </div>
                    </div>
                    <div class="brand-banner-box-footer">
                        <div class="brand-banner-logo">
                            <img ng-src="{{ banner.logo }}">
                        </div>
                        <div class="brand-banner-slogon">
                            {{ banner.slogon }}
                        </div>
                        <div class="brand-banner-number">
                            总共 {{ banner.total_number }} 件
                        </div>
                    </div>                    
                </a>
            </div>
        </div>
    </div>
        
</div>