#home-page {
    min-width: 990px;
    width: 100%;
    overflow-x: hidden;
}

#content {
    width: 100%;
    background: #f5f5f5;
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
}
#main-nav {
    width:100%;
    /*padding-top:15px;*/
}

#main-nav>.main-nav-list-wrapper {
    width: 100%;
    height:32px;
    background: #c40000;
}

#main-nav .main-nav-list {
    display: block;
    margin: auto;
    line-height: 32px;
    height:32px;
    font-size:0.9em;
}

#main-nav .main-nav-list>li {
    list-style: none;
    display: inline-block;
    position: relative;
}

#main-nav .main-nav-list>li>a {
    color:#fff;
    font-weight: thin;
    text-decoration: none;
}

#main-nav .main-nav-list>li>a::before {
    position:absolute;
    bottom:0;
    left:0;
    display:block;
    background: #ffffff;
    height:0;
    border-bottom:1px solid #c40000;
    width:0;
    z-index:10000;
    transition: all 0.5s;
    content:''
}

#main-nav .main-nav-list>li>a:hover {
    transform: translateY(10px);
}

#main-nav .main-nav-list>li>a:hover::before {
    width: 100%;
    border-color: #fff;
}

#banner-slider {
    width:100%;
    position: relative;
}

#banner-slider .cate_block {
    box-sizing: border-box;
    height:100%;
    position: absolute;
    left: 50%;
    top:0;
    z-index:20000;
    color: #fff;
    font-size:14px;
    line-height:30px;
}

#banner-slider .cate_block  .logo-block {
    position: absolute;
    overflow: hidden;
}

#banner-slider .cate_block  .cate-title {
    display: block;
    position: absolute;
    margin-top:-32px;
    box-sizing: border-box;
    width:200px;
    height:32px;
    background: darkred;
}

#banner-slider .cate_block  .cate-title i,
#banner-slider .cate_block  .cate-title div {
    display: inline-block;
    font-weight:bold;
    font-size:15px;
    margin-left:10px;
}

#banner-slider .cate_block .cate-content {
    background: rgba(255, 255, 255, .8);
    width:200px;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    box-sizing: border-box;
    margin-left: 15px;
    padding-left:15px;
    color:#555;
}

#banner-slider .user-login-block {
    top:0;
    height: 100%;
    position:absolute;
    background-color: rgba(0,0,0,.4);
    color: #ccc;
    color: rgba(255, 255, 255, .8);
    transition: all 0.5s;
    box-sizing: border-box;
}

#banner-slider .user-login-block:hover {
    background-color: rgba(0,0,0,.6);
}

#banner-slider .user-login-block .login-and-register {
    width:100%;
    text-align: center;
    padding:15px;
    box-sizing: border-box;
}

#banner-slider .user-login-block .login-info {
    font-size:0.8em;
    text-align: center;
    margin-top:5px;
    border-bottom: 1px dotted #888;
    padding-bottom:15px;
}

#banner-slider .user-login-block .login-info p {
    line-height: 22px;
}

#banner-slider .user-login-block .login-info p a {
    color:#ddd;
}

#banner-slider .user-login-block .login-info  .login-btn {
    background: #c40000;
    border: 1px solid #888;
    line-height: 1em;
    font-size: 0.7em;
    text-align: center;
    display: inline-block;
    padding:3px 15px;
    border-radius: 1em;
}


#banner-slider .user-login-block .login-info a:hover {
    text-decoration: underline;
}

#banner-slider .user-login-block .login-and-register img{
    display: inline;
}

.ads-rectangle {
    margin: auto;
    padding: 10px 0;
}

.ads-rectangle a,
.ads-rectangle img {
    display: block;
    border: none;
    width: 100%;
}

@media screen and (min-width: 801px) and (max-width: 1023px) {
    #main-nav .main-nav-list {
      width: 880px;
      margin-left: 240px;
      padding-left:80px;      
    }

    #main-nav .main-nav-list>li {
        margin-right: 10px;
    }
    #banner-slider .cate_block {
        padding-left:15px;
        width:160px;
        margin-left:-418px;
    }
    #banner-slider .cate_block  .logo-block {
        height: 120px;
        margin-top:-152px;
        margin-left:-100px;
    }

    #banner-slider .cate_block  .logo-block img {
        width:240px;
        height:120px;
    }

    #banner-slider .user-login-block {
        width:150px;
        right: 50%;
        opacity: 0;
        overflow: hidden;
    }

    #block-group-wrapper {
        width:100%;
        overflow: auto;
        height:auto;
    }

    .ads-rectangle {
        width: 800px;
    }
}


@media screen and (min-width: 1024px) and (max-width:1279px) {
    #main-nav .main-nav-list {
      width: 1000px;
      margin-left: 200px;
      padding-left:150px;
    }
    #main-nav .main-nav-list>li {
        margin-right: 22px;
    }
    #banner-slider .cate_block {
        padding-left:15px;
        width:200px;
        margin-left:-515px;
    }
    #banner-slider .cate_block  .logo-block  {
        margin-top:-152px;
        height:120px;
        margin-left:-63px;
    }
    #banner-slider .cate_block  .logo-block img {
        width:240px;
        height:120px;
    }  
    #banner-slider .user-login-block {
        width:150px;
        right: 50%;
        margin-right: -500px;
    }    
    .ads-rectangle {
        width: 1000px;
    }       
}

@media screen and (min-width: 1280px) and (max-width: 1919px) {
    #main-nav .main-nav-list {
      width: 1000px;
      margin-left: 200px;
      padding-left:150px;
    }
    #main-nav .main-nav-list>li {
        margin-right: 22px;
    }
    #banner-slider .cate_block {
        padding-left:15px;
        width:200px;
        margin-left:-615px;
    }
    #banner-slider .cate_block  .logo-block  {
        margin-top:-152px;
        height:120px;
        margin-left:-40px;
    }
    #banner-slider .cate_block  .logo-block img {
        width:240px;
        height:120px;
    }  
    #banner-slider .user-login-block {
        width:150px;
        right: 50%;
        margin-right: -600px;
    }    
    .ads-rectangle {
        width: 1200px;
    }      
}

@media screen and (min-width:1920px) {
    #main-nav .main-nav-list {
      width: 1440px;
      margin-left: 520px;
      padding-left:150px;
    }
    #main-nav .main-nav-list>li {
        margin-right: 22px;
    }
    #banner-slider .cate_block {
        padding-left:15px;
        width:200px;
        margin-left:-735px;
    }
    #banner-slider .cate_block  .logo-block  {
        margin-top:-152px;
        height:120px;
        margin-left:-40px;
    }
    #banner-slider .cate_block  .logo-block img {
        width:240px;
        height:120px;
    }  
    #banner-slider .user-login-block {
        width:150px;
        right: 50%;
        margin-right: -720px;
    }       
    .ads-rectangle {
        width: 1440px;
    }  
}